html
    head
        title #{name}
    body
        h1
            a(href = url, target = "_blank") #{name}
        img(src ="/images.jpg", alt="images", width="100", height="auto")
        h2 Internship companies
        ul
            li
                a(href = company1, target = "_blank") #{DIGIO}
            li
                a(href = company2, target = "_blank") #{WONGNAI}